*{
    font-family:Verdana
}

a{
    color:white;
    text-decoration: none;
}



.BGimage {
    display: flex;
    background-image: url(./Images/pacificSelfie.jpg);
    background-position: center;
    background-size: cover;
    /* height: 1080px;
    width: 1920px; */
    width:100vw;
    height:100vh;
    margin:0px;
    padding:0px;
}

body{
    margin:0;
}

ul  {
    color:white;
    display:flex;
    height:30px;
    justify-content: space-evenly;
    list-style: none;
    width:100%;
}

.navigation{
   position:absolute;
    background-color: #2e2b2b;
    margin:0px;
    width: 20%;
    top:0;
    left:0;
}

.aboutMe_container{
    border:#1a1919dc solid 1px;
    box-shadow: 5px 3px 5px 2px;
    height: 35vh;
    margin:100px 0px 0px 350px;
    position:relative;
    width:60vh;
}

.aboutMe_title{
    display: flex;
    justify-content: center;
    letter-spacing: 7px;
    text-shadow: 2px 2px #568ee9;
}

.aboutMe_description{
    display: flex;
    margin:0px 10px 0px 10px;
    line-height: 22px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.resume_link{
    color:white;
    font-size: 20px;
   justify-content: center;
   background-color: black;
   border:3px solid #568ee9;
   border-radius: 30px;
   text-decoration: none;
   padding:5px 10px;
   font-family:Verdana;
   transition-duration: 300ms;
}

.resume_link:hover{
    background-color: white;
    color:#568ee9;
}

.footer {
    /* z-index: 1; */
    width: 100%;
    justify-content: center;
    background-color: #2e2b2b;
    display: flex;
    height: 5vh;
    flex-flow: row;
    padding: 10px;
    position:relative;
    /* bottom:0; */
  }
  
  .social_media {
    color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  
  .social_media:hover {
    color: #568ee9;
  }
  
  .social_media > img {
    margin-left: 20px;
    height: 50px;
  }
  
  .social_media > a {
    color: white;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
  }
  
  .social_media:hover > a {
    color: #11bfebe3;
  }

  /* Projects CSS */
  .hero{
      height:500px;
      border-bottom: 3px solid black;
      position:relative;
     
      background-image:url(./Images/7hero.jpg); 
      background-position: center;
    background-size: cover;
  }

  .project_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:10px;
    margin:30px 10px 10px 10px;
  }

  .project{
      background-image: linear-gradient(to bottom right, white, #11bfebe3);
      border: black 1px solid;
      box-shadow: #2e2b2b 2px 2px 2px 2px;
      padding-bottom:20px

  }

  .project_img1{
    position:relative;
    height:300px;
  
    /* add background image */
    background-image: url(./Images/ECOMM1.png);
    background-position: top center;
    background-size: cover;
  }

  .project_img2{
    position:relative;
    height:300px;
    
    /* add background image */
    background-image: url(./Images/ECOMM2.png);
    background-position: center;
    background-size: cover;
  }

  .project_img3{
    position:relative;
    height:300px;
   
    /* add background image */
    background-image: url(./Images/ReservationAPP.png);
    background-position: center;
    background-size: cover;
  }
  .project_img4{
    position:relative;
    height:300px;
    
    /* add background image */
    background-image: url(./Images/GuessingGame.png);
    background-position: center;
    background-size: cover;
  }

  .project_img5{
    position:relative;
    height:300px;
    
    /* add background image */
    background-image: url(./Images/SF\ GATEWAY.png);
    background-position: center;
    background-size: cover;
  }

  .project_img6{
    position:relative;
    height:300px;
    
    /* add background image */
    background-image: url(./Images/HeartForHunger.png);
    background-position: center;
    background-size: cover;
  }

  .project_img7{
    position:relative;
    height:300px;
    
    /* add background image */
    background-image: url(./Images/MusicAnimation.png);
    background-position: center;
    background-size: cover;
  }

  .project_img8{
    position:relative;
    height:300px;
  
    /* add background image */
    background-image: url(./Images/TicTacToe.png);
    background-position: center;
    background-size: cover;
  }

  .project_img9{
    position:relative;
    height:300px;
    
    /* add background image */
    background-image: url(./Images/PokemonNode.png);
    background-position: center;
    background-size: cover;
  }

  .project_img10{
    position:relative;
    height:300px;
   
    /* add background image */
    background-image: url(./Images/UnderConstruction.png);
    background-position: center;
    background-size: cover;
  }

.project_title{
    position:relative;
 font-size: 40px;
 text-align: center;
 text-transform: uppercase;

}

  .project_description{
    margin:20px;
    
  }


  /* Contact Page */

  .Contact{
    display:grid;
    justify-content:center;
    align-items:center;
    min-height:90vh;
    
    }
    
    button.submit{
        width:50%;
    }
    
    .contact{
        font-size: 2px;
    }
  
    .comments{
        height: 200px;;
    }